<html>
    <head>   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col s4 push-s1">
                <div class="card-1">
                    <form class="row">
                        <img src="../../../assets/resources/logoWAVE.png" alt="WAVE" class="logo"> 
                            <div class="input-field"  >    
                                <div class="center" >   
                                    <label for="info" class="col s8 push-s2 "> Tipo de Perfil </label>    
                                    <input type="dropdown" id="info">
                                </div>                                  
                            </div>
                            <div class="input-field">
                                <div class="center">
                                <label for="info" class="col s8 push-s2 "> Nombre </label>    
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            
                            <div class="input-field ">
                                <div class="center">
                                <label for="info" class="col s8 push-s2"> País </label>
                                <input type="email" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="birthday"> Fecha de Fundación  </label>
                                <input type="date" id="birthday" name="birthday">
                                </div>                       
                            </div>
                        </form>
                    </div>
                </div>
            <div class="col s6 push-s1">
                <div class="card-2">
                    <form class="row">
                        <br><br>
                          <div class="center">
                            <h1 class="title">Integrantes</h1>
                            <br>                              
                          </div>
                          <div class="col s3 push-s1">
                            <h1 class="title"> Integrante 1</h1>
                            <form class="row">
                              <div class="input-field col s6 pull-s3 ">
                                <div class="left col s3 push-s4 ">
                                  <img src="../../../assets/resources/search.png" id="searchi" style="margin-top: -12px;">
                                </div>
                                <div class="col s6">
                                    <input type="search" id="search" required placeholder="Selecciona un perfil" style="margin-top: -10px;">
                                 <div style="margin-top: -40px;">                           
                                    <a href="#!" class="my-button2" id="boton2" style="margin-left: 400px;">Verificar</a>
                            </div> 
                              </div>
                            </div>
                            </form>
                          </div>
                          
                          <div class="col s3 pull-s2">
                            <h1 class="title" style="margin-top: 120px;"> Integrante 2</h1>
                            <form class="row">
                              <div class="input-field col s6 pull-s3 ">
                                <div class="left col s3 push-s4 ">
                                  <img src="../../../assets/resources/search.png" id="searchi" style="margin-top: -12px;">
                                </div>
                                <div class="col s6">
                                    <input type="search" id="search" required placeholder="Selecciona un perfil" style="margin-top: -10px;">
                                 <div style="margin-top: -40px;">                           
                                    <a href="#!" class="my-button2" id="boton2" style="margin-left: 400px;">Verificar</a>
                            </div> 
                              </div>
                            </div>
                            </form>
                          </div>
                          
                          <div class="center" style="margin-top: 400px;"> 
                            <a href="" class="my-button" >Siguiente</a>
                          </div>
                    </form>
                </div>
            </div>
                
          </div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>

</html>