<html>
    <head>   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <br>
        <br>
        <div class="row">
            <div class="col s4 push-s1">
                <div class="card-1">
                    <form class="">
                        <img src="../../../assets/resources/logoWAVE.png" alt="WAVE" class="logo"> 
                            <div class="input-field"  >    
                                <div class="center" >   
                                    <label for="info" class="col s8 push-s2"> Tipo de Perfil </label>  
                                    <select class="select-wrapper">
                                        <option value="" disabled selected>Selecciona</option>
                                        <option value="musico_artista">Músico/artista</option>
                                        <option value="banda_dueto">Banda/dueto/etc.</option>
                                    </select>
                                </div>                                  
                            </div>
                            <div class="input-field">
                                <div class="center">
                                <label for="nombre" class="col s8 push-s2 "> Nombre </label>    
                                <input [(ngModel)]="data.nombre" [ngModelOptions]="{standalone: true}" type="text" id="nombre">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="apellido" class="col s8 push-s2 "> Apellido </label>    
                                <input [(ngModel)]="data.apellido" [ngModelOptions]="{standalone: true}" type="text" id="apellido">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="localizacion" class="col s8 push-s2"> País </label>
                                <input [(ngModel)]="data.pais" [ngModelOptions]="{standalone: true}" id="localizacion">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="birthday"> Fecha de Nacimiento  </label>
                                <input [(ngModel)]="data.fecha" type="date" id="birthday" name="birthday">
                                </div>                       
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col s6 push-s1">
                    <ng-container *appDynamicComponent="mostrarGenerosCard">
                        <app-generos-card (siguienteClick)="onSiguienteClick()"></app-generos-card>
                    </ng-container>
                    <ng-container *appDynamicComponent="!mostrarGenerosCard">
                        <app-instrumentos-card (siguienteClicked)="handleClick()" ></app-instrumentos-card>
                    </ng-container>
                </div>
                
          </div>

          <br>
          <br>
          <br>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>