<html>
    <head>   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <br>
        <div class="row">
            <div class="col s4 push-s1">
                <div class="card-1">
                    <form class="">
                        <img src="../../../assets/resources/logoWAVE.png" alt="WAVE" class="logo"> 
                            <div class="input-field"  >    
                                <div class="center" >   
                                    <label for="info" class="col s8 push-s2"> Tipo de Perfil </label>  
                                    <select class="select-wrapper">
                                        <option value="" disabled selected>Selecciona</option>
                                        <option value="musico_artista">Músico/artista</option>
                                        <option value="banda_dueto">Banda/dueto/etc.</option>
                                    </select>
                                </div>                                  
                            </div>
                            <div class="input-field">
                                <div class="center">
                                <label for="info" class="col s8 push-s2 "> Nombre </label>    
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="info" class="col s8 push-s2 "> Apellido </label>    
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="info" class="col s8 push-s2"> País </label>
                                <input type="text" id="info">
                                </div>                       
                            </div>
                            <div class="input-field ">
                                <div class="center">
                                <label for="birthday"> Fecha de nacimiento/fundación  </label>
                                <input type="date" id="birthday" name="birthday">
                                </div>                       
                            </div>
                        </form>
                    </div>
                </div>
            <div class="col s6 push-s1">
                <div class="card-2">
                    <form class="row">
                        <br>
                        <h1 class="title center">Géneros en los que te desenvuelves:</h1>
                          <div class="col l10 push-l1 aa">
                            <br>
                              <div class="row">
                                <div class="col s4">
                                    <div class="checkbox "> 
                                        <input type="checkbox" id="checkbox1" name="opcion1" class="custom-checkbox">
                                        <label for="checkbox1"> Rock </label>
                                      </div>
                                    <div class="checkbox" style="margin-left: 0px;"> 
                                        <input type="checkbox" id="checkbox2" name="opcion2" class="custom-checkbox" >
                                        <label for="checkbox2"> Pop </label>
                                      </div>                                              
                                    <div class="checkbox" style="margin-left: 0px;"> 
                                        <input type="checkbox" id="checkbox3" name="opcion3" class="custom-checkbox" >
                                        <label for="checkbox3"> Punk Rock </label>
                                    </div>
                                    <div class="checkbox"> 
                                        <input type="checkbox" id="checkbox4" name="opcion4" class="custom-checkbox" >
                                        <label for="checkbox4"> Pop Punk</label>
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="checkbox "> 
                                        <input type="checkbox" id="checkbox5" name="opcion5" class="custom-checkbox">
                                        <label for="checkbox5"> Funk </label>
                                      </div>
                                    <div class="checkbox" style="margin-left: 0px;"> 
                                        <input type="checkbox" id="checkbox6" name="opcion6" class="custom-checkbox" >
                                        <label for="checkbox6"> Blues </label>
                                      </div>                                              
                                    <div class="checkbox" style="margin-left: 0px;"> 
                                        <input type="checkbox" id="checkbox7" name="opcion7" class="custom-checkbox" >
                                        <label for="checkbox7"> Jazz </label>
                                    </div>
                                    <div class="checkbox"> 
                                        <input type="checkbox" id="checkbox8" name="opcion8"  class="custom-checkbox">
                                        <label for="checkbox8"> Jazz Fusion </label>
                                      </div>
                                </div>
                                <div class="col s4">
                                    <div class="checkbox "> 
                                        <input type="checkbox" id="checkbox9" name="opcion9" class="custom-checkbox" >
                                        <label for="checkbox9"> Prog Rock </label>
                                      </div>
                                    <div class="checkbox"> 
                                        <input type="checkbox" id="checkbox10" name="opcion10" class="custom-checkbox" >
                                        <label for="checkbox10"> Reggae </label>
                                      </div>                                              
                                    <div class="checkbox"> 
                                        <input type="checkbox" id="checkbox11" name="opcion11" class="custom-checkbox" >
                                        <label for="checkbox11"> Reggaeton </label>
                                    </div>
                                    <div class="checkbox"> 
                                        <input type="checkbox" id="checkbox12" name="opcion12" class="custom-checkbox">
                                        <label for="checkbox12"> Salsa </label>
                                      </div>
                                </div>
                              </div>
                            <div class="center"> 
                                <a href="http://localhost:4200/create-profile" class="my-button">Siguiente</a>
                              </div>
                          </div>
                    </form>
                </div>
            </div>
                
          </div>
          <br>
          <br>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>
