#logo{
    height: 45px;
    width: auto;
    margin: 10px;
}

#search{
    background-color: #E6E6E6;
    height: 40px;
    margin: 12px;
    border-radius: 25px;
}

#searchi{
    height: 45px;
    width: auto;
}

#su-li{
    background-color: #E6E6E6;
    border-radius: 25px;
}

.nav-wrapper{
    background-color: #0b090a;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px;
    color: #B1A6A6;
    background-color: #E6E6E6;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.dropdown-content li a:hover {
    background-color: #D5D5D5;
  }
.row{
    margin:0px;
}

.cajita:active{
    background-color: transparent;
}
.blogin{
    background-color: #E6E6E6;
    width:84px;
    height: 40px;
    border-radius: 25px;
}

.iii{
    color: #d7142b;
    font-size: 26px;
}

.boton{
    background-color: transparent;
    border-color: transparent;
}