
<html>
  <body>
    <br>
        <div class="row valign-wrapper">
          <div class="col l3 m4 push-l1">
            <div class="center">
              <h2 class="titulos">Contacto</h2>
          </div>
            <div class="image-placeholder">
              <span class="ubi-titulo inicio-text">Mexicali, Baja California</span>
              <img style="border-radius: 30px; height: 360px; width: auto;"src="../../../assets/resources/manuelprofile.png">
            </div>
            <br>
            <br>
            <div class="center">
              <a class="btn precio">$20/hr</a>
            </div>
          </div>
          <div class="col l9 m7">
            <div class="row">
              <h1 class="titulos" style="font-size: 40px;">¿Qué necesitas?</h1>
              <br>
              <div class="col l8">
                <div class="card cuadro-necesitas">
                    <div class="card-content inicio-text">
                        <textarea class="desc-text" maxlength="692" placeholder="Introdúcete y redacta tu petición"></textarea>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <h1 class="titulos" style="font-size: 40px;">Datos</h1>
              <br>
              <div class="col l4">
                <h1 class="titulos" style="font-size: 24px;">Nombre</h1>
                <div class="card cuadro-small inicio-text">
                      <input type="text" class="small-text" >
                </div>
              </div>
              <div class="col l4">
                <h1 class="titulos" style="font-size: 24px;">Apellido</h1>
                <div class="card cuadro-small inicio-text">
                      <input type ="text" class="small-text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col l4">
                <br>
                <h1 class="titulos" style="font-size: 24px;">Correo electrónico</h1>
                <div class="card cuadro-small inicio-text">
                      <input type ="email" class="small-text">
                </div>
              </div>
            </div>
            <br>
            <div class="col l8">
              <div class="centrar">
                <a class="btn wave" href="mailto:#"><img class="iconitos" src="../../../assets/icons/handwave.png">Wave</a>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>