
html, body{
    height: 100%;
    background-color: #0b090a;
}

.titulos{
    font-family: "inter";
    color: #E6E6E6;
}

.container {
    display: flex;
    height: 100%;
    margin: 0; /* Adjust the height as needed */
  }
  
  .image-placeholder {
    background-color: transparent;
    height: 360px; 
    width: 360px; /* Set the desired margin */
  }
  .iconitos{
    width: 37px;
    height: 37px;
}

  .rectangle-container{
    margin-bottom: 20px;
  }

  .cuadro-necesitas{
    height: 195px;
    background-color: #11103d;
    border-radius: 30px;
}
.cuadro-small{
    height: 55px;
    background-color: #11103d;
    border-radius: 15px;
}
.small-text {
  width: 20px;
  height: 100%;
  resize: none;
  padding: 8px;
  vertical-align: top;
  font-family: 'Heebo', sans-serif;
  color: #E6E6E6; /* Adjust the vertical alignment as needed */
}



.desc-text{
  font-family: 'Heebo', sans-serif;
  color: #E6E6E6;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  border: none;  /* Remove the border */
  outline: none; 
}
.inicio-text{
  color: #E6E6E6;
  font-family: 'Inter', sans-serif;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=email]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 80%;
  font-size: 16px;
  margin-left: 20px;
  padding: 8px;
  box-shadow: none;
  box-sizing: content-box;
}
.precio{
  font-family: "Inter",sans-serif;
  background-color: #d7142b;
  border-radius: 40px;
  color: #EFD6D6;
  text-transform: none;
  height: 70px;
  width: 155px;
  font-size: 32px;
  line-height: 70px;
}
h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 1%; 
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; 
}
.centrar{
  display: flex;
  justify-content: center;
}
.wave{
  font-family: "Inter",sans-serif;
  background-color: #d7142b;
  border-radius: 40px;
  color: #EFD6D6;
  text-transform: none;
  height: 70px;
  width: 232px;
  font-size: 40px;
  line-height: 70px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ubi-titulo{
position: absolute;
padding: 300px 30px;
font-family: 'Heebo', sans-serif;
font-size: 26px;
}

