<body class="nav-wrapper">
    <br>
    <br>
    <div class="row">
        <div class="col l6 push-l2">
            <h2 class="inicio-text">
                ¡Empieza a conectar con <font color="#D7142B">millones de artistas</font> en tu localidad o alrededor del mundo!
            </h2>
        </div>
    </div>

    <!-- AQUI EMPIEZA EL SEARCH BAR NORMALITO--> 
    <form class="row">
        <div class="input-field col s8 push-s1 valign-wrapper">
            <div class="col s6">
                <input type="search" id="search" required placeholder="¿Qué buscas?">
            </div>
            <div class="col s6">
                <input type="search" id="search" required placeholder="Tipo de conexión">
            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

