.nav-wrapper{
    background-color: #0b090a;
    font-family: 'Inter', sans-serif;
}

.inicio-text{
    color: #E6E6E6;
}

#search{
    background-color: #E6E6E6;
    height: 65px;
    margin: 12px;
    border-radius: 25px;
}

.wave{
    font-family: "Inter",sans-serif;
    background-color: #d7142b;
    border-radius: 40px;
    color: #EFD6D6;
    text-transform: none;
    height: 60px;
    width: 170px;
    font-size: 25px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buscador-wrapper{
    background-color: #E6E6E6;
        height: 60px;
        width: 120px;
        font-family: 'Inter',sans-serif;
        color:#B1A6A6;
        border-radius: 18px;
        padding: 0px 10px 0px 10px;
        position: relative;
        cursor: pointer;
        border: none;
        outline: none;
        height: 4.2rem;
        width: 88%;
        left: 70px;
        display: flex;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1;
  }


