<body class="nav-wrapper">
    <div class="row">
        <div class="col l6">
            <h2 class="inicio-text">
                ¡Empieza a conectar con <font color="#D7142B">millones de artistas</font> en tu localidad o alrededor del mundo!
            </h2>
        </div>
    </div>

    <!-- AQUI EMPIEZA EL SEARCH BAR NORMALITO-->
        <form class="row">
          <div class="input-field col s8 push-s1 valign-wrapper">
            <div class="col s6">
                <input type="search" id="search" required placeholder="¿Qué buscas?">
            </div>
            <div class="col s6">
                <input type="search" id="search" required placeholder="Tipo de conexión">
            </div>
          </div>
        </form>

    <!-- multi input search bar que encontré en internet 
        y q nos va a servir mejor para el tipo de search bar que estamos haciendo nosotros
            solo ocupamos ajustarlo a lo nuestro y preguntar manera en que las opciones que salen sean 
                las que tenemos en la base de datos-->
        <form action="#">
            <div class="row">
                <div class="col l10 push-1">
                    <div class="styled-input wide multi">
                        <div class="state" id="select-state">
                            <select name="state">
                                <option value="All">All</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                            </select>
                            <label>¿Qué buscas?</label>
                            <svg class="chevron-down" width="17px" height="10px" viewBox="0 0 17 10" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="UI-Elements-Forms" transform="translate(-840.000000, -753.000000)" stroke="#4A4A4A" stroke-width="0.9">
                                        <g id="Done-Copy-2" transform="translate(622.000000, 727.000000)">
                                            <polyline id="Rectangle-16" transform="translate(226.400000, 27.400000) rotate(-45.000000) translate(-226.400000, -27.400000) "
                                                points="231.8 32.8 221 32.8 221 22"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col l2 no-pad-left-10">
                    <button type="submit" class="primary-btn serach-btn" id="submit_btn">BUSCAR</button>
                </div>
            </div>
          </form>
</body>

