<div class="col l3">
    <div class="card card-wrapper" (click)="goToProfile(data._id)">
        <div class="card-image">
            <img style="border-radius: 25px;
            max-height: 258px;
            max-width: 376px;
            object-fit: cover;" src="{{data.imagePath}}">
            <span class="card-title p">{{data.nombre}}</span>
            <span class="card-subtitle desc">{{data.localizacion}}</span>
        </div>
        <div class="card-content">
            <p>{{data.short}} 
            </p>
            <br>
            <button class="precio">{{data.precio}}</button>
        </div>
    </div>
</div>