<div class="col l4">
    <div class="card card-wrapper">
        <div class="card-image">
            <img style="border-radius: 25px;
            max-height: 258px;
            max-width: 415px;
            object-fit: cover;" src="../../assets/resources/miguelprofile.png">
            <span class="card-title p">{{data.nombre}}</span>
            <span class="card-subtitle desc">{{data.localizacion}}</span>
        </div>
        <div class="card-content">
            <p>{{data.descripcion}} 
            </p>
            <br>
            <a href="http://localhost:4200/profile"class="btn precio">${{data.precio}}</a>
        </div>
    </div>
</div>