<html>
    <body> 
      <br>
      <div class="row nom">
        <div class="col s6 left">
          <img src="../../../assets/resources/logoWAVE.png" alt="WAVE" class="responsive-img center-align">
        </div>
        <div class="col s6 right">  
          <form class="row">             
            <div class="input-field centrar" style="margin-top: 170px;">
              <div class="center-align">
                <label for="info"> Correo Electrónico</label>
                <input type="email" id="info" placeholder="name@example.com">
              </div>
            </div>
            <div class="input-field centrar" >
              <div class="center-align">
                <label for="info2"> Contraseña</label>
                <input type="password" id="info2">
              </div>
            </div>
            <div class="centrar" style="margin-top: 60px;"> 
              <a (click)="logInTrigger()" class="my-button" >Iniciar sesión</a>
            </div>
          </form>
        </div>
      </div> 
    </body>
</html>

