h2{
    margin-top: 0;
}
.fixed {
    padding-top: 30px;
    position: sticky;
    top: 50px;
    right: 0;
    height: 100vh;
    overflow-y: auto;
  }
.sizec{
    height:600px;
}
.row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    right:0%
    /* left: auto; */
    /* right: auto; */
}
.margenb{
    margin-bottom: 0%;
}
.nav-wrapper{
    background-color: #0b090a;
    font-family: 'Inter', sans-serif;
}
.inicio-text{
    color: #E6E6E6;
    font-family: 'Inter', sans-serif;
}
.tag-genero{
    background-color: #11103d;
    height: 40px;
    border-radius: 25px;
    padding: 20px;
}

.cuadro-desc{
    background-color: #11103d;
    border-radius: 30px;
}

.fotito{
    border-radius: 30px;
}

.desc-text{
    font-family: 'Heebo', sans-serif;
}

.parallax-container {
    position: relative;
    height: 500px; /* Altura deseada de la sección */
}
  
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.audio{
    color: #B1A6A6;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.cuadrop{
    height: 300px;
}
.wave{
    background-color: #d7142b;
    height: 70px;
    width: 200px;
    font-size: 40px;
    border-radius: 50px;
    border-color: transparent;
}
.titulo-experiencia{
    background-color: #d7142b;
    border-radius: 30px;
    text-align: center;
    font-size: 26px;
    margin: 0%;
    width: 300px;
}
.galeria{
    padding: 0%;
}
.galeria-titulo{
    position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}
audio{
    width: 278px;
    
}
.card .card-image .card-title {
    color: #e6e6e6;
    padding: 24px;
}
.carousel {
    width: 100%;
    height: 300px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
  }
.carousel .carousel-item {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}
  
.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .carousel-item.active {
    display: block;
}

.iconitos{
    width: 37px;
    height: 37px;
}
.margen{
    padding-bottom: 12px;
}

.nomargen{
    margin-bottom: 5px;
    margin-top:2px;
}