
<html>
    <body class="nav-wrapper">
        <br>
        <div class="row margenb">
            <div class="col l7 push-l1">
                <div class="row">
                    <div class="col l6 push-l1 valign-wrapper">
                        <span class="badge tag-genero valign-wrapper inicio-text" *ngFor="let genero of user.generos">{{ getGenreName(genero) }}</span>
                     
                    </div>
                </div>
                <h2 class="inicio-text">{{user.nombre}} {{user.apellido}}</h2>
                <div class="row">
                    <div class="col l10">
                        <div class="card cuadro-desc">
                            <div class="card-content inicio-text">
                                <span class="card-title">Descripción</span>
                                <p class="desc-text">{{user.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l5">
                        <div class="card cuadro-desc">
                            <div class="card-image">
                              <div class="carousel fotito">
                                <a class="carousel-item" href="#one!"><img src="../../../assets/resources/manuelgal1.png"></a>
                                <a class="carousel-item" href="#two!"><img src="../../../assets/resources/manuelgal2.png"></a>
                                <a class="carousel-item" href="#three!"><img src="../../../assets/resources/manuelgal3.png"></a>
                              </div>
                              <span class="card-title galeria-titulo">Galería</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        <div class="card cuadro-desc">
                            <div class="card-content inicio-text cuadrop">
                                <span class="card-title">Snippets</span>
                                <div class="center">
                                    <div class="audio">
                                        <audio controls>
                                            <source src="horse.mp3" type="audio/mpeg">
                                          Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                    <div class="audio">
                                        <audio controls>
                                            <source src="horse.mp3" type="audio/mpeg">
                                          Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col l10">
                        <h3 class="inicio-text">Experiencia</h3>
                        <div class="card horizontal cuadro-desc">
                            <div class="card-panel valign-wrapper titulo-experiencia">
                                    <span class="inicio-text">
                                        Jaguar Mexicali
                                    </span>
                            </div>
                            <div class="card-content inicio-text">
                                <span class="card-title">Guitarrista</span>
                                <span>2021 - Presente</span>
                                <p class="desc-text">Grupo versátil para todo tipo de eventos, con mas de 40 años de experiencia en Mexicali, Baja California. Contamos con una gran variedad de generos listos para hacerte disfrutar</p>
                            </div>
                        </div>
                        <br>
                        <div class="card horizontal cuadro-desc">
                            <div class="card-panel valign-wrapper titulo-experiencia">
                                    <span class="inicio-text">
                                        Emma Avenue
                                    </span>
                            </div>
                            <div class="card-content inicio-text">
                                <span class="card-title">Guitarrista</span>
                                <span>2021 - Presente</span>
                                <p class="desc-text">Grupo versátil para todo tipo de eventos, con mas de 40 años de experiencia en Mexicali, Baja California. Contamos con una gran variedad de generos listos para hacerte disfrutar</p>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col l5 fixed">
                <div class="col s12 m7">
                    <div class="card cuadro-desc inicio-text sizec">
                        <div class="card-image">
                            <img style="border-radius: 30px; max-height: 300px;
                                object-fit: cover;" src="{{user.imagePath}}">
                            <span class="card-title desc-text">Mexicali, Baja California</span>
                        </div>
                        <div class="card-content">
                        <div class="row nomargen">
                            <div class="col l9">
                                <p class="margen">Pago por hora:</p>
                                <p class="margen">¿Abierto a collabs?</p>
                            </div>
                            <div class="col l3 center">
                                <p class="margen">{{user.precio}}</p>
                                <p class="margen">{{user.collab}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="row nomargen">
                        <div class="col l12 push-l2">
                            <div class="row nomargen">
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/instagram.png" alt="">
                                </div>
                                <div class="col l2">
                                    <img class="iconitos" src="../../../assets/icons/whatsapp.png" alt="">
                                </div>
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/spotify.png" alt="">
                                </div>
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/twitterpng.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button class="wave inicio-text" href="http://localhost:4200/contacto"><img class="iconitos" src="../../../assets/icons/handwave.png"> Wave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
