<html>
    <body class="nav-wrapper">
        <br>
        <div class="row margenb">
            <div class="col l7 push-l1">
                <div class="row">
                    <div class="col l6 push-l1 valign-wrapper">
                        <span class="badge tag-genero valign-wrapper inicio-text">rock</span>
                        <span class="badge tag-genero valign-wrapper inicio-text">jazz</span>
                        <span class="badge tag-genero valign-wrapper inicio-text">versátil</span>
                    </div>
                </div>
                <h2 class="inicio-text"> Manuel Martínez</h2>
                <div class="row">
                    <div class="col l10">
                        <div class="card cuadro-descc">
                            <div class="card-content inicio-text">
                                <span class="card-title">Descripción</span>
                                <textarea id="textarea2" class="desc-text texto" maxlength="205" placeholder="Ingresa tu descripción..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l5">
                        <div class="card cuadro-desc" style="height: 300px;">
                            <span class="card-title galeria-titulo">Galería</span>
                            <div class="card-content">
                                <br><br>
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn precio">
                                            <span>Subir</span>
                                            <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" style="width:94%;border-radius: 22px; height: 45px;font-size: 14px;" placeholder="Selecciona tus fotos">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        <div class="card cuadro-desc">
                            <div class="card-content inicio-text cuadrop">
                                <span class="card-title">Snippets</span>
                                <div class="center">
                                    <input type="file" id="upload" accept="audio/*" (change)="handleFiles($event)" />
                                    <div class="audio">
                                        <audio id="audio" controls>
                                            <source [src]="audioSrc" />
                                        </audio>
                                    </div>
                                    <input type="file" id="upload" accept="audio/*" (change)="handleFiles($event)" />
                                    <div class="audio">
                                        <audio id="audio" controls>
                                            <source [src]="audioSrc" />
                                        </audio>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col l10">
                        <h3 class="inicio-text">Experiencia</h3>
                        <div *ngFor="let cuadro of cuadros" class="card horizontal cuadro-desc">
                            <div class="card-content inicio-text">
                                <input type="text" style="width: 41%; font-size: 18px;margin-right: 20px;" placeholder="Nombre banda o evento">
                                <input type="text" style="width: 51%; font-size: 18px;" placeholder="¡Indica tu papel! Ej: Guitarrista"> <br>
                                <input type="text" style="width: 28%; font-size: 14px" placeholder="año inicio - año final"><br>
                                <textarea id="textarea2" class="desc-text textoexp" maxlength="120" placeholder="Ingresa pequeña descripción..."></textarea>
                            </div>
                        </div>
                        <div style="display:flex;justify-content: center;">
                            <button (click)="agregarCuadro()" class="wave inicio-text" style="font-size: 22px;">Agregar experiencia</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col l5 fixed">
                <div class="col s12 m7">
                    <div class="card cuadro-desc inicio-text sizec">
                        <div class="card-image">
                            <label for="fileInput">
                                <img style="border-radius: 30px; max-height: 300px;
                                    object-fit: cover; cursor: pointer; background-color: #e6e6e6;"  [src]="selectedImage ? selectedImage : '../../../assets/icons/user.png'" alt="Imagen de perfil">
                            </label>
                            <input id="fileInput" type="file" accept="image/jpeg, image/png" (change)="onFileSelected($event)" style="display: none;">
                        </div>
                        <div class="card-content">
                        <div class="row nomargen">
                            <div class="col l8">
                                <p class="margen">Pago por hora:</p>
                                <br>
                                <p>¿Abierto a collabs?</p>
                            </div>
                            <div class="col l3 center">
                                <input type="text" class="inputp" placeholder="$$">
                                <select class="select-wrapper">
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargen">
                        <div class="col l12 push-l2">
                            <div class="row nomargen">
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/instagram.png" alt="">
                                </div>
                                <div class="col l2">
                                    <img class="iconitos" src="../../../assets/icons/whatsapp.png" alt="">
                                </div>
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/spotify.png" alt="">
                                </div>
                                <div class="col l2 ">
                                    <img class="iconitos" src="../../../assets/icons/twitterpng.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button class="wave inicio-text"> Guardar perfil</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
