<html>
    <body class="nav-wrapper">
        <br>
        <div class="row margenb">
            <div class="col l7 push-l1">
                <div class="row">
                    <div class="col l5 push-l1 left valign-wrapper">
                        <span class="badge tag-genero valign-wrapper inicio-text">rock</span>
                        <span class="badge tag-genero valign-wrapper inicio-text">punk</span>
                        <span class="badge tag-genero valign-wrapper inicio-text">punk-rock</span>
                    </div>
                </div>
                <h2 class="inicio-text"> Emma Avenue</h2>
                <div class="row">
                    <div class="col l10">
                        <div class="card cuadro-desc">
                            <div class="card-content inicio-text">
                                <span class="card-title">Descripción</span>
                                <p class="desc-text">Guitarrista de 20 años con experiencia en diversos grupos, en música versátil y rondalla. Integrante de proyecto propio llamado Emma Avenue, guitarrista en grupo Jaguar Mexicali y JazzSquad Big Band. Experiencia con instrumentos como: guitarra, bajo, contrabajo, algo de voz y algo de teclados.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l5">
                        <div class="card cuadro-desc">
                            <div class="card-image">
                              <div class="carousel fotito">
                                <a class="carousel-item"><img src="../../../assets/resources/manuelgal2.png"></a>
                                <a class="carousel-item"><img src="../../../assets/resources/eavegal1.png"></a>
                                <a class="carousel-item"><img src="../../../assets/resources/eavegal2.png"></a>
                                <a class="carousel-item"><img src="../../../assets/resources/manuelgal3.png"></a>
                              </div>
                              <span class="card-title galeria-titulo">Galería</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        <div class="card cuadro-desc">
                            <div class="card-content inicio-text cuadrop">
                                <span class="card-title">Snippets</span>
                                <p>jj</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="inicio-text">Integrantes</h3>
                <div class="row">
                    <div class="col l5">
                        <div class="card card-wrapper">
                            <div class="card-image">
                                <img style="border-radius: 25px;
                                    max-height: 258px;
                                    object-fit: cover;" src="../../assets/resources/manuelprofile.png">
                                <span class="card-title p">Manuel</span>
                                <span class="card-subtitle desc">Guitarrista, vocalista</span>
                            </div>
                            <div class="card-content">
                                <p class="desc">Guitarrista de 20 años de edad con experiencia en divesos grupos, experiencia en musica versátil.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        <div class="card card-wrapper">
                            <div class="card-image">
                                <img style="border-radius: 25px;
                                    max-height: 258px;
                                    object-fit: cover;" src="../../assets/resources/omarprofile.png">
                                <span class="card-title p">Omar</span>
                                <span class="card-subtitle desc">Guitarrista, vocalista principal</span>
                            </div>
                            <div class="card-content">
                                <p class="desc">Guitarrista de 20 años de edad con experiencia en divesos grupos, experiencia en musica versátil.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l5">
                        <div class="card card-wrapper">
                            <div class="card-image">
                                <img style="border-radius: 25px;
                                    max-height: 258px;
                                    object-fit: cover;" src="../../assets/resources/danielprofile.png">
                                <span class="card-title p">Daniel</span>
                                <span class="card-subtitle desc">Bajista</span>
                            </div>
                            <div class="card-content">
                                <p class="desc">Guitarrista de 20 años de edad con experiencia en divesos grupos, experiencia en musica versátil.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        <div class="card card-wrapper">
                            <div class="card-image">
                                <img style="border-radius: 25px;
                                    max-height: 258px;
                                    object-fit: cover;" src="../../assets/resources/ianprofile.png">
                                <span class="card-title p">Ian</span>
                                <span class="card-subtitle desc">Tecladista</span>
                            </div>
                            <div class="card-content">
                                <p class="desc">Guitarrista de 20 años de edad con experiencia en divesos grupos, experiencia en musica versátil.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l5">
                        <div class="card card-wrapper">
                            <div class="card-image">
                                <img style="border-radius: 25px;
                                    max-height: 258px;
                                    object-fit: cover;" src="../../assets/resources/iceprofile.png">
                                <span class="card-title p">Ice</span>
                                <span class="card-subtitle desc">Baterista</span>
                            </div>
                            <div class="card-content">
                                <p class="desc">Guitarrista de 20 años de edad con experiencia en divesos grupos, experiencia en musica versátil.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col l5">
                        
                    </div>
                </div>
            </div>
            <div class="col l5 fixed">
                <div class="col s12 m7">
                    <div class="card cuadro-desc inicio-text sizec">
                        <div class="card-image">
                            <img style="border-radius: 30px;max-height: 300px;
                                object-fit: cover;" src="../../../assets/resources/eaveprofile.png">
                            <span class="card-title desc-text">Mexicali, Baja California</span>
                        </div>
                        <div class="card-content">
                            <div class="row nomargen">
                                <div class="col l9">
                                    <p class="margen">Pago por hora:</p>
                                    <p class="margen">¿Abierto a collabs?</p>
                                </div>
                                <div class="col l3 center">
                                    <p class="margen">$20</p>
                                    <p class="margen">Sí</p>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="row nomargen">
                            <div class="col l12 push-l2">
                                <div class="row nomargen">
                                    <div class="col l2 ">
                                        <img class="iconitos" src="../../../assets/icons/instagram.png" alt="">
                                    </div>
                                    <div class="col l2">
                                        <img class="iconitos" src="../../../assets/icons/whatsapp.png" alt="">
                                    </div>
                                    <div class="col l2 ">
                                        <img class="iconitos" src="../../../assets/icons/spotify.png" alt="">
                                    </div>
                                    <div class="col l2 ">
                                        <img class="iconitos" src="../../../assets/icons/twitterpng.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <button class="wave inicio-text" href="#"><img class="iconitos" src="../../../assets/icons/handwave.png"> Wave</button>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </body>
</html>
